html {
    scroll-behavior: smooth;
}
.header {
    text-align: center;
    background-color: #949494;
    padding: 10px;
}

.wrapper {
    width: 100%; 
    display: inline-flex;
}
.sidebar {
    width: 25%;
}

.menu {
    background-color: #949494;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

li .menu-list {
    /* padding: 10px; */
    text-align: center;
}

.content-info {
    width: 75%;
    margin-left: 20px;
}

.profile-img {
    width: 50%;
    border-radius: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.list {
    list-style-type: none;
    line-height: 1.4;
}

.list li:first-child {
    font-weight: 600;
}

.links {
    font-weight: 600;
    text-decoration: none;
}

.footer {
    background-color: #949494;
    text-align: center;
    padding: 20px;
}

.content {
    width: 60%;
    padding-left: 10px;
}

.links {
    text-decoration: none;
    font-weight: 600;
    color: black;
    padding-right: 25px;
}

.skill {
    padding: 5px;
}

.social-icons {
    text-decoration: none !important;
    border-radius: 10%;
    padding-left: 2%;
}
